.slide_container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.slide_item {
    width: 1320px;
    height: 651px;
    background-color: #8E8E8E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    margin: 0;
}

.elements {
    width: 1320px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.element {
    max-width: 1320px;
    height: 830px; 
    /* background-color: #aaa; */
    margin: 70px 0;
    position: relative; 
    display: flex;
    justify-content: space-between; 
}

.softwareIntroduction,
.designIntroduction{
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #fff;
    right: 0; 
    bottom: 0;
    z-index: 5;
}

.wepSolutionIntroduction {
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #fff;
    left: 0; 
    bottom: 0;
    z-index: 5;
}

.softwareIntroduction,
.designIntroduction,
.wepSolutionIntroduction {
    padding: 60px;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
    line-height: 35px;
}

.software {
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
    background-image: url(/Mistory/img/bg_department01.jpg);
}

.titleDiv{
    margin-left: 90px;
    font-size: 1.25rem;
}

.title{
    margin: 0 0 10px 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.titleDiv button{
    background-color: #028156;
    color: #fff;
    border: 0;
    width: 260px;
    height: 50px;
    font-size: 1.25rem;
    text-align: left;
    padding: 10px 15px;
}

.i1{
    margin: 0 0 20px 0;
}

.i2{
    margin: 0 0 50px 0;
}

.wepSolution {
    position: absolute;
    right: 0;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
    background-image: url(/Mistory/img/bg_department02.jpg);
}

.wepSolution > .titleDiv{
    margin-left: 300px;
}

.design {
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
    background-image: url(/Mistory/img/bg_department03.jpg);
}

.e{
    position: absolute;
    width: 900px;
    height: 650px;
    background-color: #fff;
    z-index: 6;
    /* background-image: linear-gradient(90deg, #505050, #8f8f8f); */
    
}

.softwareIntroduction:hover,
.designIntroduction:hover,
.wepSolutionIntroduction:hover{
    z-index: 7;
    transform: scale(1.05); /* 확대 효과 */
}

.footer-top h3 {
    margin: 0;
    font-size: 16px;
}

/* ?????????????????????????????????????????????????????????????? */
a,
a:visited {
    color: black;
    text-decoration: none;
}

#circle {
    width: 300px; /* 초기 크기 */
    height: 300px; /* 초기 크기 */
    background: radial-gradient(circle at center, rgba(247, 202, 24, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none; /* 서클이 마우스 이벤트를 방해하지 않도록 함 */
    animation: pulse 10s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        width: 300px;
        height: 300px;
    }
    100% {
        width: 330px;
        height: 330px;
    }
}

.elements {
    position: relative;
}