.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registrationDiv {
    width: 1320px;
    height: 1160px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 0 #aaaaaa;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.department,
.nameInput,
.contentInput {
    width: 1000px;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 30px;
    padding-top: 10px;
}

.department p,
.nameInput p,
.contentInput p {
    align-self: start;
    margin: 0;
}

.nameInput input {
    width: 650px;
    height: 70px;
    font-size: 30px;
    font-family: 'Pretendard-Regular';
}

.contentInput textarea {
    width: 800px;
    height: 200px;
    font-size: 30px;
    outline: none;
    resize: none;
    font-family: 'Pretendard-Regular';
}

.nameInput input,
.contentInput textarea {
    margin-left: 70px;
}

.registrationBtn {
    width: 400px;
    height: 100px;
    background-color: #008156;
    color: #fff;
    font-size: 40px;
    border-radius: 50px;
    margin-top: 110px;
}

.comments {
    width: 1320px;
    min-height: 120;
    margin-top: 170px;
    overflow: auto;
    overflow-x:hidden;
}

.comment {
    max-width: 1320px;
    height: 310px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 6px 5px #c3c3c3;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.comment img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
}

.name, .content, .dateTime {
    margin: 0;
}

.name {
    font-size: 40px;
    width: auto;
    height: 45px;
}

.content {
    font-size: 32px;
    white-space: pre-line;
    width: auto;
    height: auto;
    align-self: flex-start; 
    margin-right: 30px;
    margin-left: 30px;
}

.plusImgDiv{
    display: flex;
    width: 100%;
    margin: 35px 0 0 30px;
}

.details .dateTime {
    font-size: 30px;
    height: 35px;
    color: #9c9c9c;
    white-space: pre-line;
}

.details {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
}

.comment .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comment .details .name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    align-self: flex-start;
}

.comment .details .dateTime {
    font-size: 24px;
    color: #9c9c9c;
    margin-bottom: 10px;
    align-self: flex-start;
}

.comment .details .content {
    font-size: 30px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.radio {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.radio label > p {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    width: 150px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.s {}

.w {background: url(../img/web_solution.png) no-repeat;}

.d {background: url(../img/design.png) no-repeat;}

input[type="radio"]:checked {
    content: url(../img/check.png);
    width: 71px;
    height: 71px;
    border-radius: 0;
}