hr{
  color: #fff;
  border-style: solid;
  font-size: 1px;
}

.no-js { 
  display:none; 
}

.slide_container, .slide_container2 {
  width: 1320px;
  height: 651px;
  margin: auto;
  position: relative;
  z-index: 3;
}

.slide_item {
  width: 1320px;
  height: 651px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
  z-index: 3;
}

.slide_item:nth-child(2),.slide_item:nth-child(3) {
  background-color: #D9D9D9;
}

.previous_button,
.next_button {
  position: absolute;
  top: 283px;
  transform: translateY(-50%); 
  width: 50px;
  height: 50px;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.previous_button {
  left: 180px; 
}

.next_button {
  right: 180px; 
}
.slick-dots li.slick-active button:before {
  opacity: .175;
  color: #008156 !important;
}
.lesson{
  margin-left: 102px;
  margin-top: 80px;
  font-size: 18px;
  color: #fff;
}
.slide_item>hr, .slide_item>.img>hr {
  margin-left: 102px;
  margin-top: 9px;
  width: 336px;
}
.slide_item>h1, .slide_item>.img>h1{
  margin-left: 102px;
  margin-top: 25px;
}

.S, .W, .D, .line,button {
  display: inline-block;
  vertical-align: top;
  margin-top: 132px;
  text-align: center;
}
.S{
  margin-left: 807px;
  margin-right: 21px;
}
.W{
margin-left: 30px;
margin-right: 28px;
}
.D{
  margin-left: 37px;
}
.line{
  border:1px solid #878787;
  height: 201px;
  margin-top: 81px;
  
}
.slick-dots li button:before {
  margin-top: 100px !important;
  left: 50% !important;
  width: 45px !important; /*dost 위치*/
}
.slick-dots{
  height: 100px !important;
  z-index: -1;
}
.S, .W, .D, .line {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.W {
  margin: 132px 0px 0px 25px;
}

.D {
  margin-left: 25px;
}

.line {
  border: 1px solid #878787;
  height: 201px;
  margin-top: 81px;
  margin-left: 25px;
}

.lesson_S_button, .lesson_W_button, .lesson_D_button {
  display: inline-block;
  margin-top: 201px;
  margin-left: -121px;
  width: 92px; height: 40px;
  background-color: #028156;
  color: #fff;
  border: none;
}
.lesson_W_button{
  margin-left: -92px;
  background-color: #EFB11D;
}
.lesson_D_button{
  margin-left: -80px;
  background-color: #E7477E;
}

.previous_button,
.next_button {
    position: absolute;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    color: black;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999; 
    background-color: rgba(255, 255, 255, 0.5);
}

.previous_button {
    left: 100px;
}

.next_button {
    right: 100px;
}

.slide_container2{
  margin-top: 107px;
  margin-bottom: 80px;
}
.admissions{
  margin: 60px 0px 13px 0px !important;
  text-align: center;
}
.admissions_explanation{
  text-align: center;
}
.admissions_img{
  margin-left: 112px;
  margin-top: 13px;
}
.previous_button2 {
  position: absolute;
  left: 60px;
  top: 1150px;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  color: black;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999; 
  background-color: #fff;
  box-shadow: 4px 0px 4px rgba(0,0,0,0.2);
}
.next_button2 {
  position: absolute;
  right: 60px;
  top: 1150px;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  color: black;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  background-color: #fff;
  box-shadow: -4px 0px 4px rgba(0,0,0,0.2);
}

.i{
  width: 25px;
  height: 12.5px;
}

.ellipse_container{
  display: flex;
  align-items: center;
  width: 918px;
  margin-left: 120px;
  margin-top: 28px;
  
}
.slide_container2 .slick-dots {
  display: none !important;
}
.ellipse_title{
  font-size: 18px;
  margin-top: 17px;
  font-weight: bolder;
}
.ellipse_explanation{
  font-size: 16px;
  width: 260px;
}
.ellipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 17px; 
  margin-right: 20px;
}
.scroll{
  position: absolute;
  left: 50%;
  margin-top: 0px;
  animation: scrollAnimation 0.7s infinite alternate;
}
@keyframes scrollAnimation {
  0% {
    transform: translateY(0); /* 초기 위치 */
  }
  100% {
    transform: translateY(30px); /* 원하는 스크롤 양 */
  }
}
      
.footer-links h3 {
  margin: 0;
  font-size: 16px;
}
.temporary_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.temporary_image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 컨테이너에 꽉 차게 */
}

.slide_container2 .slide_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #D9D9D9;
  height: 821px;
  width: 1320px;
}

.slide_container2 .slide_item .img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.customoverlay{
  width: 100px;
  margin-bottom: 60px;
  text-align: center;
  color: rgba(0,0,0,0.4);
}