.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 610px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.sub-header a {
    margin: 0;
}

.sub-header-title {
    width: 330px;
    height: 40px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    background-color: #fff;
    color: #8E8E8E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-header-title:hover {
    background-color: #028156;
    color: #fff;
}
